PORT=7070
HOST=0.0.0.0
RDL_TEMP_ROOT=/tmp/rdl-converter
RDL_FONT_DIR=/app/fonts
RDL_STRICT_FONTS=true
RDL_ALLOW_COMPATIBLE_FONT_FALLBACKS=false
RDL_MAX_RDL_BYTES=10485760
RDL_MAX_REQUEST_BYTES=26214400
RDL_MAX_ROWS=100000
RDL_MAX_CONCURRENCY=2
RDL_RENDER_TIMEOUT_MS=120000
RDL_WORKER_MEMORY_MB=512
RDL_WORKER_MEMORY_MAX_MB=2048
RDL_MAX_XML_NODES=250000
RDL_MAX_XML_DEPTH=256
RDL_DOCX_NATIVE_PAGE_FRAGMENTS=false
RDL_DOCX_PROFILE_PATH=
RDL_DOCX_PROFILE_AUTO=false
RDL_PDFTOPPM_PATH=pdftoppm
